.image_canvas {
    /* This sets the size of all the subelements due to the JS */
    width: 1200px;
    height: 400px;
    /* Make this a relative position to define a position context for 'absolute' to be meaningful relative to this block for 'can' items */
    position: relative;
}

.image_div {
    overflow: scroll;
}
.pos_abs {
    /* 
    Relative is relative to its desired location
       position: relative;
     */
    position: absolute;
    }
.bg {
    z-index: 1;
}
.fg {
    z-index: 2;
}
#controls {
    vertical-align: top;
}
